
.top-buffer { margin-top:20px; }

.image-container{
  width: 100%;
  height: 100%;
}

/**/
.author-title{
  font-weight: 900;
}

.name-of-album{
  font-weight: 900;
}

.audio {
  width: 100%;
}

.title-album {
  text-align: center;
}

.title-song{
  text-align: center;
}

.footer-container{
  height: 100px;
  background-color: #9f9f9f;
  margin-top: 50px;
  text-align: center;
  padding-top: 30px;
}

.main-wrapper{
  background-color: #f1edf5;
}
.header-container{
  height: 100px;
  background-color: #cccce1;
  margin-bottom: 50px;
}

.main-header-title{
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}

.header-container a:link{
  color: #ffe;
  text-decoration: none;
}
.header-container a:hover{
  color: #ffe;
  text-decoration: none;
}
.header-container a:active{
  color: #ffe;
  text-decoration: none;
}

.header-container a{
  color: #ffe;
  text-decoration: none;
}

/**/
.album a:link{
  color: grey;
  text-decoration: none;
}
.album a:hover{
  color: grey;
  text-decoration: none;
}
.album a:active{
  color: grey;
  text-decoration: none;
}

.album a{
  color: grey;
  text-decoration: none;
}

.title-album{
  color: grey;
}
.title-song{
  color: grey;
  padding-top: 10px;
}
